In [2]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:80% !important;}
div.prompt {min-width:70px;}
div#toc-header{margin-top:150px;}
span.toc-item-num{display:none;}
</style>
"""))

<b><font color="red" size="6">ch03. 데이터 구조</font></b>
- 리스트[], 튜플(), 딕셔너리(자바hashMap과 유사), 셋

# 1절. 리스트

## 1.1 리스트 만들기
    - []를 이용해서 만들며, 여러 개의 값을 하나의 변수에 저장/관리할 수 있음
    - list()함수 이용도 가능
    - 인덱스 : 각 요소의 위치. 인덱스는 0부터 시작. 맨 마지막 인덱스는 -1
    - 슬라이싱([from:to(앞까지):by]) : 부분 데이터셋을 추출.
    - 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [3]:
# 1차원 리스트
# 동일자료형이 아니어도 됨
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [5]:
print(fruits)

banana

In [6]:
print(fruits[0])

banana

In [7]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [9]:
fruits = ['mango', 'apple', 'orange']
x, y, z = fruits  # x, y, z = ['mango', 'apple', 'orange']
print("x = {}".format(x))
print("y = {}".format(y))
print("z = {}".format(z))

x = mango
y = apple
z = orange

In [10]:
# range(from, to, by) : from부터 to 앞 까지 by씩 증가하면서 지정된 범위의 숫자를 순차적으로 사용할 수 있도록 범위를 생성함
#                       from 생략 시 0, by 생략 시 1
range(10)

range(0, 10)

In [11]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [13]:
list(range(10, -1, -2))  # 거꾸로 생성

[10, 8, 6, 4, 2, 0]

In [14]:
for i in [0, 1, 2]:  # 확장for문과 유사
    print(i)

0
1
2

In [16]:
for i in range(3):  # 0~2까지 순차적인 수
    print(i)

0
1
2

In [18]:
# 1.
for fruit in fruits:
    print(fruit)

mango
apple
orange

In [20]:
# 2.
fruits = ['mango', 'apple', 'orange', 'banana']
for idx in range(len(fruits)):
    print("{}번째 과일은 {}".format(idx, fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 banana

In [21]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'banana')]

In [22]:
# 3.
for idx, value in enumerate(fruits):
    print("{}번째 과일은 {}".format(idx, value))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 banana

In [24]:
numbers = [1, 2, 3, '4', True, [1, 2, 3]]
numbers

[1, 2, 3, '4', True, [1, 2, 3]]

In [27]:
# 2차원 리스트
numbers_2d = [[1, 2, 3, 4, 5],
              [11, 12, 13, 14, 15],
              [91, 92, 93, 94, 95]]
# 리스트인 데이터(값)가 3개 들어있는 리스트:[[1, 2, 3, 4, 5],[11, 12, 13, 14, 15],[91, 92, 93, 94, 95]]
len(numbers_2d)  # 리스트 갯수:3
len(numbers_2d), len(numbers_2d[0])

(3, 5)

In [31]:
numbers_2d[1][1]  # 1행1열:1번 방의 1번째 데이터

12

In [33]:
for i in range(len(numbers_2d)):  # for i in range(3) 행
    for j in range(len(numbers_2d[i])):  # for j in range(5) 열
        print("{}행{}열 : {}".format(i, j, numbers_2d[i][j]), end="\t")  # \t 없으면 한 줄마다 개행됨
    print()  # 개행:행의 열만큼 출력이 끝나면 개행

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 11	1행1열 : 12	1행2열 : 13	1행3열 : 14	1행4열 : 15
2행0열 : 91	2행1열 : 92	2행2열 : 93	2행3열 : 94	2행4열 : 95

## 1.2 기본 정보 조회

In [34]:
numbers = [1, 12, 3, 4, 5]
numbers_2d = [[100, 0, 1, 2, 3],
              [9, 100, 110, 102, 130],
              [59, 100, 130]]

In [35]:
# 요소의 수
print(len(numbers), len(numbers_2d))

5 2

In [39]:
# 최소값, 최대값
min(numbers), max(numbers)

(0, 130)

In [41]:
# 2차원 list의 min()함수 : 각 부분 리스트 중에서 첫 요소가 가장 작은 값
#              max()함수 : 각 부분 리스트 중에서 첫 요소가 가장 큰 값
min(numbers_2d), max(numbers_2d)

([9, 100, 110, 102, 130], [100, 0, 1, 2, 3])

In [42]:
# list의 데이터가 문자일 경우 ASCII 코드 값으로 min(), max()가 적용됨
fruits = ['mango', 'banana', 'orange']
min(fruits), max(fruits)

('banana', 'orange')

In [49]:
# 정렬하기
numbers = [1, 12, 3, 14, 5]
print('오름차순 정렬 :', sorted(numbers))
print('내림차순 정렬 :', sorted(numbers,reverse=True))
print('합 :', sum(numbers))
print('sorted 함수 사용 시 정렬 후에도 리스트 내용이 바뀌지 않음 :', numbers)

오름차순 정렬 : [1, 3, 5, 12, 14]
내림차순 정렬 : [14, 12, 5, 3, 1]
합 : 35
sorted 함수 사용 시 정렬 후에도 리스트 내용이 바뀌지 않음 : [1, 12, 3, 14, 5]

## 1.3 요소 추가

In [ ]:
# + : 두 리스트 연결
# * : 리스트를 곱한 수만큼 반복
# append() : 요소 맨 뒤에 추가
# extend() : 리스트를 요소별로 맨 뒤에 추가
# insert(idx, 값) : idx번째 인덱스 위치에 값 추가

In [50]:
numbers = [1, 2, 3]
numbers = numbers + numbers  # 리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [51]:
numbers = [1, 2, 3]
print(3 * numbers)  # 곱한 수 만큼 list 반복
print(numbers * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [52]:
numbers.append(4)
numbers

[1, 2, 3, 4]

In [53]:
numbers.append([5, 6, 7])  # 맨 뒤에 요소 추가
numbers
# [1, 2, 3, 4, [5, 6, 7]]

[1, 2, 3, 4, [5, 6, 7]]

In [56]:
num = [1, 2, 3]
num.extend([4, 5, 6])  # 요소 별로 맨 뒤에 각기 추가
num
# [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [57]:
lst = ['a', 'b', 'c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [58]:
lst.append('hello')
lst

['a', 'b', 'c', 'd', 'hello']

In [59]:
lst.extend('hello')
lst

['a', 'b', 'c', 'd', 'hello', 'h', 'e', 'l', 'l', 'o']

In [63]:
numbers = [1, 2, 3, 4, 5]
numbers.insert(1, 'xx')
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱과 요소 갯수
- 변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환(없으면 에러 발생)
- count(찾을데이터) : 리스트에서 데이터의 갯수를 반환(없으면 0을 return)

In [64]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]

In [65]:
numbers.count(2)

2

In [66]:
numbers.count(9)

0

In [67]:
9 in numbers  # 9가 numbers의 요소인지 여부:있으면 True, 없으면 False를 반환

False

In [72]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.index(2)  # 처음(0인덱스)부터 2가 나오는 위치를 반환

1

In [69]:
numbers.index(2, 2)  # 2번째 부터 2가 처음 나오는 위치

5

In [70]:
# 9가 numbers 리스트의 요소에 있는지 여부를 검사
print(numbers.count(9))
print(9 in numbers)

0
False

In [73]:
numbers.index(9)

ValueError: 9 is not in list

In [74]:
if 9 in numbers:
    print(numbers.index(9))
else:
    print('9가 요소에 포함되지 않습니다')

9가 요소에 포함되지 않습니다

In [75]:
# def : 함수를 만들 때 사용하는 예약어
def safe_index(lst, item):
    if item in lst:
        return lst.index(item)
    else:
        return -1

In [77]:
def safe_index(lst, item):
    return lst.index(item) if item in lst else -1  # if문이 참일 때만 lst.index(item)을 return

In [78]:
safe_index(numbers, 9)

-1

In [79]:
numbers[20]  # 벗어난 인덱싱 시 에러

IndexError: list index out of range

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱 : list에서 원하는 index의 데이터를 추출
 - 인덱스의 범위를 벗어난 값도 에러나지 않음
 - [from:stop:step] from번째 부터 stop앞까지 step씩 증가하는 index값 추출
         from 생략시 처음, stop 생략 시 끝, step 생략 시 1 // 모두 생략 가능
 - 인덱스는 음수 가능 <br><br>

2. <b><font color='red'>리스트 컴프리헨션</font></b> : list에서 원하는 데이터를 추출

In [82]:
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
# 거꾸로 출력
print(numbers[::-1])
print(numbers[0:10:2])  # 0번째 부터 10번째 앞까지 2씩 전진하며 출력(짝수번 째를 출력)
print(numbers[0:100])  # 인덱스 범위를 벗어나면 끝까지 전부 출력

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [86]:
# 리스트 컴프리헨션을 이용해 list에서 원하는 데이터만 액세스(특정 조건인 값만 출력)
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
# 모든 데이터 추출
# for data in numbers:
#     print(data, end='\t')
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [87]:
# 짝수 데이터 추출
# for data in numbers:
#     if data%2 == 0:
#         print(data, end='\t')
[data for data in numbers if data%2 == 0]  # data가 2로 나눈 나머지가 0인 것

[10, 12, 18, 20]

In [88]:
# ex1. numbers에서 10이상의 요소만 추출
[data for data in numbers if data >= 10]

[10, 12, 13, 18, 19, 20]

In [92]:
# ex2. fruits에서 과일의 글자가 5글자 이상인 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[data for data in fruits if len(data) >= 5]

['orange', 'apple', 'mango']

In [121]:
# ex2-1. fruits 리스트의 과일 글자 수
[len(data) for data in fruits]

[6, 5, 5, 4]

In [126]:
# ex3. 3이상의 요소들의 제곱을 추출
L = [1, 2, 3, 4, 5]
[data**2 for data in L if data >= 3]

[9, 16, 25]

In [125]:
# ex4. 리스트의 값의 두 배로 추출
[data*2 for data in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기

In [127]:
# 인덱싱을 이용하여 수정
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [128]:
# 슬라이싱(step 부분 미포함)을 이용하여 부분 리스트를 통째로 수정
numbers[0:2] = ['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx']  # 0번째부터 2번째 앞까지
numbers

['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 222, 3, 4, 5, 6, 7, 8, 9]

In [134]:
# 슬라이싱(step 부분 포함)을 이용하여 부분 수정시 수정될 조건과 수정하려는 요소 갯수가 맞아야 함
numbers = [0]*10
print('수정 전 :', numbers)
numbers[::2] =[9, 9, 9, 9, 9]  # 처음부터 끝까지 짝수 번째
print('수정 후 :', numbers)

수정 전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정 후 : [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

In [135]:
# 징검다리 형식이 아닌 통째로 수정되므로 수정하려는 요소의 갯수가 맞지 않으면 에러
numbers[::2] = [1, 2]
numbers[::2] = [1, 2, 3, 4, 5, 6]

ValueError: attempt to assign sequence of size 2 to extended slice of size 5

## 1.7 요소 삭제
 - pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
 - pop(idx) : idx번째 요소가 반환되고 삭제
 - remove(data) : list안의 data 삭제
 - del 리스트변수[idx] : idx번째 요소 삭제

In [140]:
# pop
numbers = [1, 2, 3, 4, 5]
print('삭제한 데이터 :', numbers.pop())
print('삭제한 후 numbers :', numbers)
print('삭제한 데이터 :', numbers.pop())
print('삭제한 후 numbers :', numbers)
print('삭제한 데이터 :', numbers.pop(0))
print('삭제한 후 numbers :', numbers)

삭제한 데이터 : 5
삭제한 후 numbers : [1, 2, 3, 4]
삭제한 데이터 : 4
삭제한 후 numbers : [1, 2, 3]
삭제한 데이터 : 1
삭제한 후 numbers : [2, 3]

In [145]:
# remove
numbers = [0, 1, 2, 3, 4, 5]
print(numbers.remove(3))  # remove()는 반환값이 없고, 해당 데이터만 삭제
print(numbers)

None
[0, 1, 2, 4, 5]

In [146]:
numbers.remove(9)  # 에러

ValueError: list.remove(x): x not in list

In [147]:
if 9 in numbers:
    numbers.remove(9)
else:
    print('해당 데이터는 없는 데이터입니다')

해당 데이터는 없는 데이터입니다

In [148]:
def safe_remove(lst, remove_item):
    if remove_item in lst:
        lst.remove(remove_item)
    else:
        print('해당 데이터는 없는 아이템입니다')

In [149]:
safe_remove(numbers, 9)

해당 데이터는 없는 아이템입니다

In [150]:
numbers = [0, 1, 2, 3, 4, 5]
del numbers[2]  # 2번째 index 요소 제거(rollback불가)
print('삭제 후 :', numbers)

삭제 후 : [0, 1, 3, 4, 5]

In [151]:
del numbers  # 변수 삭제

In [152]:
numbers

NameError: name 'numbers' is not defined

## 1.8 정렬하기

In [161]:
numbers = [9, 5, 0, 8, 6]
# sorted(numbers)  # numbers 자체는 변하지 않고 정렬만 됨
numbers.sort()  # numbers 자체가 정렬한 결과로 바뀜(기본정렬:오름차순)
numbers

[0, 5, 6, 8, 9]

In [162]:
numbers = numbers[::-1]  # 오름차순 결과를 내림차순으로
numbers

[9, 8, 6, 5, 0]

In [173]:
numbers = [9, 5, 0, 8, 6]
numbers.reverse()  # 리스트를 역순으로 변경
numbers

[6, 8, 0, 5, 9]

In [172]:
numbers.sort(reverse=True)  # 내림차순 정렬
numbers

[9, 8, 6, 5, 0]

## 1.9 리스트 복제

In [177]:
# 얕은 복사
numbers = [5, 6, 1, 9]
new_numbers = numbers  # 얕은 복사. 주소값이 같음
new_numbers.sort()
print('원본 :', numbers)
print('정렬본 :', new_numbers)
print('원본 주소 :', id(numbers))
print('정렬본 주소 :', id(new_numbers))

원본 : [1, 5, 6, 9]
정렬본 : [1, 5, 6, 9]
원본 주소 : 2356430525696
정렬본 주소 : 2356430525696

In [180]:
# 깊은 복사(복제)
numbers = [5, 6, 1, 9]
new_numbers = numbers.copy()  # numbers를 복제(깊은 복사). 주소값이 다름
new_numbers.sort(reverse=True)  # 내림차순 정렬
print('numbers :', numbers)
print('new_numbers :', new_numbers)
print('numbers 주소 :', id(numbers))
print('new_numbers 주소 :', id(new_numbers))

numbers : [5, 6, 1, 9]
new_numbers : [9, 6, 5, 1]
numbers 주소 : 2356430962368
new_numbers 주소 : 2356430962624

In [183]:
city = ['서울', '부산', '대전', '대구', '인천', '광주', '제주']
temp = city.copy()  # 깊은 복사
temp.sort()
print('정렬 전 :', ' '.join(city))
print('정렬 후 :', ' '.join(temp))

정렬 전 : 서울 부산 대전 대구 인천 광주 제주
정렬 후 : 광주 대구 대전 부산 서울 인천 제주

# 2절. 튜플
 - 리스트([])와 유사하지만 읽기 전용. 수정이 필요없는 데이터에서 사용
 - 수정이 불가하므로 튜플에 데이터 수정, 추가, 삭제 불가(pop, remove, append, extend 불가)
 - 제공되는 함수도 많지 않음
 - () 이용해서 생성

In [185]:
city = ('서울', '부산', '인천', '목포')
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '인천', '목포')

In [188]:
', '.join(city)

'서울, 부산, 인천, 목포'

In [200]:
l = ['서울']  # 요소가 하나 있는 리스트
print(type(l))
print(l)
print(len(l))  # 요소의 갯수

<class 'list'>
['서울']
1

In [201]:
city = ('서울')  # 요소가 하나 있는 튜플(X) / 괄호가 사라짐
print(type(city))
print(city)
print(len(city))  # 요소의 길이:2글자

<class 'str'>
서울
2

In [202]:
city = ('서울',)  # 요소가 하나 있는 튜플(O) / 맨 마지막에 ,(콤마)
print(type(city))
print(city)
print(len(city))  # 요소의 갯수

<class 'tuple'>
('서울',)
1

In [207]:
a, b = 10, 20
# (a, b) = (10, 20)과 같음

In [208]:
numbers = 1, 2, 3
# numbers = (1, 2, 3)인 튜플과 같음
print(type(numbers))
print(numbers)

<class 'tuple'>
(1, 2, 3)

In [209]:
# numbers.remove(3) 수정하기 위한 함수는 제공되지 않음

In [211]:
# min(numbers), max(numbers), len(numbers) // (1, 3, 3)
print(min(numbers), max(numbers), len(numbers))

1 3 3

In [212]:
# 동일자료형일 필요 없음
numbers = (0, 1, 2, (1, 2), 0, 1, 2)
numbers.count(2)  # 데이터 2의 갯수

2

In [213]:
numbers[0:3]

(0, 1, 2)

In [216]:
numbers.index(2)  # 처음부터 2가 처음 나오는 곳의 index번호를 return

2

In [217]:
numbers.index(2, 3)  # 3번째 index부터 2가 나오는 index번호를 return

6

In [218]:
numbers.index(9)  # 에러

ValueError: tuple.index(x): x not in tuple

In [219]:
# numbers안에 9 요소가 있는지 여부
print(numbers.count(9))
print(9 in numbers)

0
False

In [221]:
def safe_index(lst, item):
    if item in lst:
        return lst.index(item)
    else:
        return -1
def safe_index(lst, item):
    return lst.index(item) if item in lst else -1

In [222]:
safe_index(numbers, 9)

-1

In [225]:
numbers = (1, 2, 3)
numbers + numbers  # + : 연결

(1, 2, 3, 1, 2, 3)

In [227]:
numbers * 3  # * : 반복

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [229]:
# ex. 짝수 요소들을 추출하여 제곱한 리스트를 출력하시오
numbers = (1, 2, 3, 4, 5, 6)
[x**2 for x in numbers if x%2 == 0]

[4, 16, 36]

# 3절. 딕셔너리
cf. 자바에서의 hashMap
- 중괄호({})를 이용해서 딕셔너리 생성. 키(key)-값(value)쌍으로 구성된 자료구조. (index가 없음)
- 키는 유일한 값(중복 허용 안 함). 키에 list는 사용 불가. 키에 tuple은 사용 가능.
- 값은 중복 가능. 모든 데이터 타입이 가능.
- 없는 키의 값을 참조하면 에러 발생
- 인덱스를 이용한 참조는 지원하지 않음

In [233]:
dic = {'name' : '홍길동', 1 : 22, (1, 2) : [1, 2]}  # name : key, 홍길동 : value
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}

In [235]:
len(dic)  # 데이터 요소의 갯수

3

In [236]:
my_favorite = {'fruit' : 'apple', 'number' : 12, 'sport' : 'golf'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'golf'}

In [237]:
my_favorite['fruit']  # 인덱스로 참조

'apple'

In [238]:
my_favorite.get('fruit')

'apple'

In [241]:
# print(my_favorite['people'])  # 키 목록에 없는 데이터를 인덱스로 참조 시 에러
print(my_favorite.get('people'))  # 없는 키를 get함수로 참조 시 None이 return됨

None

In [248]:
# 딕셔너리 수정
my_favorite = {'fruit' : 'apple', 'number' : 12, 'sport' : 'golf'}
my_favorite['fruit'] = 'mango'
print('fruit 수정 후 :', my_favorite)
my_favorite['people'] = '홍길동'
print('people 키 추가 후 :', my_favorite)
print('데이터 갯수 :', len(my_favorite))
# del my_favorite['sport']  # 'sport' : 'golf' 제거 (키 제거 시 값도 제거 됨)
# del(my_favorite['sport'])
my_favorite.pop('sport')  # 위 두 개와 같음
print('sport 제거 후 :', my_favorite)

fruit 수정 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf'}
people 키 추가 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf', 'people': '홍길동'}
데이터 갯수 : 4
sport 제거 후 : {'fruit': 'mango', 'number': 12, 'people': '홍길동'}

In [249]:
# for문을 이용한 튜플 출력
my_tuple = ('홍길동', 30, '010-9999-9999')

In [260]:
for data in my_tuple:
    print(data, end='\t')
print()

for idx in range(len(my_tuple)):
    print('{}번째 : {}\t'.format(idx, my_tuple[idx]), end='')
print()

for idx, value in enumerate(my_tuple):
    print('{}번째 : {}'.format(idx, value), end='\t')

홍길동	30	010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999

In [261]:
# for문을 이용한 딕셔너리 출력
my_dic = {'name' : '홍길동', 'age' : 30, 'tel' : '010-9999-9999'}

In [270]:
# key만 출력
# for key in my_dic:
#     print(key, end='\t')
# 비추
for key in my_dic:
    print('{} : {}'.format(key, my_dic[key]), end='\t')

name : 홍길동	age : 30	tel : 010-9999-9999

In [265]:
# 딕셔너리에서는 enumerate 사용에 의미가 없음(key만 출력)
for idx, value in enumerate(my_dic):
    print('{} : {}'.format(idx, value))

0 : name
1 : age
2 : tel

In [266]:
my_dic.keys()  # 키 목록

dict_keys(['name', 'age', 'tel'])

In [268]:
my_dic.values()  # 값들의 목록

dict_values(['홍길동', 30, '010-9999-9999'])

In [269]:
my_dic.items()  # 키-값의 목록

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-9999')])

In [271]:
# 값만 출력
for value in my_dic.values():
    print(value, end='\t')

홍길동	30	010-9999-9999

In [273]:
for key, value in my_dic.items():
    print("{} : {}\t".format(key, value), end='')

name : 홍길동	age : 30	tel : 010-9999-9999

In [274]:
# in 연산자
t = (10, 20, 30)
30 in t
# list, tuple, set에서의 in연산자는 요소가 있는지 여부를 반환함

True

In [275]:
my_dic = {'name' : '홍길동', 'age' : 30, 'tel' : '010-9999-9999'}
'name' in my_dic
# 딕셔너리에서의 in연산자는 키가 있는지 여부를 반환함

True

In [276]:
'홍길동' in my_dic

False

In [277]:
# 얕은 복사
my_favorite = {'fruit' : 'apple', 'number': 12}
new_favorite = my_favorite  # 얕은 복사(할당). 주소값이 같음
print('my_favorite의 주소 :', id(my_favorite))
print('new_favorite의 주소 :', id(new_favorite))

my_favorite의 주소 : 2356502416768
new_favorite의 주소 : 2356502416768

In [278]:
new_favorite['fruit'] = '과일은 다 좋아. 하나를 어찌 선택해'
new_favorite['people'] = '홍길동'
print('원본 :', my_favorite)
print('수정본 :', new_favorite)

원본 : {'fruit': '과일은 다 좋아. 하나를 어찌 선택해', 'number': 12, 'people': '홍길동'}
수정본 : {'fruit': '과일은 다 좋아. 하나를 어찌 선택해', 'number': 12, 'people': '홍길동'}

In [280]:
# 깊은 복사
my_favorite = {'fruit' : 'apple', 'number': 12}
new_favorite = my_favorite.copy()  # 깊은 복사(복제). 주소값이 다름
print('my_favorite의 주소 :', id(my_favorite))
print('new_favorite의 주소 :', id(new_favorite))

my_favorite의 주소 : 2356502421184
new_favorite의 주소 : 2356466682176

In [281]:
new_favorite['fruit'] = '과일은 다 좋아. 하나를 어찌 선택해'
new_favorite['people'] = '홍길동'
print('원본 :', my_favorite)
print('수정본 :', new_favorite)

원본 : {'fruit': 'apple', 'number': 12}
수정본 : {'fruit': '과일은 다 좋아. 하나를 어찌 선택해', 'number': 12, 'people': '홍길동'}