In [98]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:80% !important;}
div.prompt {min-width:70px;}
div#toc-header{margin-top:150px;}
span.toc-item-num{display:none;}
div.CodeMirror {font-family:Consolas}
div.input {font-family:Consolas}
</style>
"""))

<b><font color='red' size='6'>ch10. 데이터베이스 연동</font></b>

# 1절. SQLite 데이터 베이스 연결
 - SQLite 데이터 베이스는 별도의 DBMS없이 SQL을 이용하여 DB 액세스 할 수 있도록 만든 간단한 디스크 기반의 DB 제공
 - C 라이브러리
 - SQLite는 프로토타입을 만들 때 사용
 - 프로젝트 단계 : 분석 → 설계 → 구현 → 테스트 → 고객에게 배포 → 유지보수
 - ㅤㅤㅤㅤㅤㅤㅤ프로토타입(SQLite)ㅤ시제품ㅤㅤㅤㅤ완제품(Oracle, MySql, Maria, ...)
 -
 -[DB brower for SQLite](https://sqlitebrowser.org/dl/)

## 1.1 SQLite broswer 설치 및 sqlite3 패키지 load

In [2]:
import sqlite3
sqlite3.sqlite_version  # sqlite3 패키지의 버전

'3.40.1'

In [3]:
import pandas as pd
pd.__version__

'1.5.3'

In [4]:
import numpy as np
np.__version__

'1.23.5'

## 1.2 데이터베이스 연결
 - SQLite로 DB 연결 시, DB 파일이 있으면 연결, DB파일이 없으면 빈 DB 파일 생성

In [5]:
# DB 연결
#conn = DriverManager.getConnection
conn = sqlite3.connect('data/ch10_example.db')
conn
# DB Browser for SQLite.exe 에서 파일 확인

In [6]:
# 커서 객체 생성 : 커서는 SQL문을 실행시키고, 결과 데이터를 조회(select:여러 줄, 그 외:정수)하는데 사용하는 객체
# pstmt = conn.PrepareStatement
cursor = conn.cursor()
cursor

In [10]:
cursor.execute('''
    CREATE TABLE MEMBER (
        NAME  TEXT,
        AGE   INT,
        EMAIL TEXT
    )
''')

In [9]:
# cursor.execute('DROP TABLE MEMBER')

In [11]:
# cursor.execute('INSERT INTO MEMBER VALUES (\'홍길동\', 20, \'h@h.com\')')
cursor.execute("INSERT INTO MEMBER VALUES ('홍길동', 20, 'h@h.com')")
print('수행 결과 행수 :', cursor.rowcount)
sql = "INSERT INTO MEMBER VALUES ('신길동', 25, 's@s.com')"
cursor.execute(sql)
print('수행 결과 행수 :', cursor.rowcount)
cursor.execute("INSERT INTO MEMBER VALUES ('신림동', 30, 'l@h.com')")
print('수행 결과 행수 :', cursor.rowcount)

수행 결과 행수 : 1
수행 결과 행수 : 1
수행 결과 행수 : 1

In [12]:
conn.commit()  # 반대反. conn.rollback() DML문에서만 commit

In [13]:
# SQL전송 결과는 cursor가 가리킴
cursor.execute('SELECT * FROM MEMBER ORDER BY NAME')

In [15]:
# insert, update, delete문 실행결과 : cursor.rowcount
# select문 실행결과를 받는 함수들
# - fetchone() : 결과를 한 행씩 받을 때 (튜플로 받음)
# - fetchall() : 결과를 모두 받을 때 (튜플 list)
# - fetchmany(n) : 결과를 n행 받을 때 (튜플 list)
print(cursor.fetchall())

[('신길동', 25, 's@s.com'), ('신림동', 30, 'l@h.com'), ('홍길동', 20, 'h@h.com')]

In [16]:
print(cursor.fetchall())  # 한 번 소요된 cursor 객체는 다시 fetch할 수 없음

[]

In [17]:
cursor.execute("SELECT NAME, AGE, EMAIL FROM  MEMBER ORDER BY AGE")
members = cursor.fetchall()
members  # 튜플 리스트

[('홍길동', 20, 'h@h.com'), ('신길동', 25, 's@s.com'), ('신림동', 30, 'l@h.com')]

In [18]:
members  # 변수에 담으면 계속 사용 가능

[('홍길동', 20, 'h@h.com'), ('신길동', 25, 's@s.com'), ('신림동', 30, 'l@h.com')]

In [19]:
for member in members:
    print(member)

('홍길동', 20, 'h@h.com')
('신길동', 25, 's@s.com')
('신림동', 30, 'l@h.com')

In [21]:
# 한 줄씩 읽기
cursor.execute("SELECT NAME, AGE, EMAIL FROM  MEMBER ORDER BY AGE")
member_list = []
while True:
    member = cursor.fetchone()  # SQL문 수행 결과 한 줄 가져오기
    if member is None:
        break
    # print(member) 튜플로 들어옴
    member_list.append({'name' : member[0], 'age' : member[1], 'email' : member[2]})

In [22]:
member_list  # 딕셔너리 리스트

[{'name': '홍길동', 'age': 20, 'email': 'h@h.com'},
 {'name': '신길동', 'age': 25, 'email': 's@s.com'},
 {'name': '신림동', 'age': 30, 'email': 'l@h.com'}]

In [23]:
# 최상위 n행 읽기
cursor.execute("SELECT NAME, AGE, EMAIL FROM  MEMBER ORDER BY AGE")
for member in cursor.fetchmany(2):  # 2줄까지만 튜플리스트로 받음(결과보다 큰 수를 입력해도 에러나지 않고 전체가 출력됨)
    print(member)

('홍길동', 20, 'h@h.com')
('신길동', 25, 's@s.com')

In [66]:
# class 객체 생성
class Member:
    'Member 테이블의 내용을 받을 객체 타입'
    def __init__(self, name, age, email):
        self.name = name
        self.age = age
        self.email = email
    def as_dic(self):  # insert문 전송 시 필요
        return {'name' : self.name,
                'age' : self.age,
                'email' : self.email}
    def __str__(self):
        return "{}\t{}\t{}".format(self.name, self.age, self.email)
def to_member(*row):  # 튜플 데이터를 매개변수로 받아 Member형 객체로 return
    return Member(row[0], row[1], row[2])

In [25]:
dbreadmember = ('홍길동', 20, 'h@h.com')  # 튜플 매개변수
m = to_member(*dbreadmember)  # 튜플 언패킹
print(m)
print(m.as_dic())

홍길동	20	h@h.com
{'name': '홍길동', 'age': 20, 'eamil': 'h@h.com'}

In [27]:
# DB 검색 결과를 객체 list로
cursor.execute("SELECT NAME, AGE, EMAIL FROM MEMBER")
member_list = []  # SQL문 수행 결과를 담을 객체 list
members = cursor.fetchall()  # 튜플 list
# print(members)
for member in members:
    member_list.append(to_member(*member))  # 튜플 언패킹

In [28]:
type(members[0]), type(member_list[0])

(tuple, __main__.Member)

In [29]:
for member in member_list:
    print(member)

홍길동	20	h@h.com
신길동	25	s@s.com
신림동	30	l@h.com

In [52]:
cursor.close()  # cursor.close()는 생략 가능 : conn.close()를 했을 때
conn.close()

## 1.3  SQL구문에 파라미터 사용하기
 - qmark(DB에 따라 불가한 경우가 있음)
 - named(추천)

In [31]:
conn = sqlite3.connect('data/ch10_example.db')
cursor = conn.cursor()
cursor.execute("SELECT * FROM MEMBER WHERE NAME IN ('홍길동', '신길동')")
cursor.fetchall()

[('홍길동', 20, 'h@h.com'), ('신길동', 25, 's@s.com')]

In [35]:
# 파라미터 사용하기 : qmark(?) 방법 이용
name1 = input('검색할 이름1 : ')
name2 = input('검색할 이름2 : ')
# cursor.execute("SELECT * FROM MEMBER WHERE NAME IN ('" + name1 + "', '" + name2 + "')")
cursor.execute("SELECT * FROM MEMBER WHERE NAME IN (?, ?)", (name1, name2))  # [names1, name2]도 가능
cursor.fetchall()  # 튜플 리스트

검색할 이름1 : 홍길동
검색할 이름2 : 신길동

[('홍길동', 20, 'h@h.com'), ('신길동', 25, 's@s.com')]

In [39]:
# 파라미터 사용하기 : qmark(?) 방법 이용
name1 = input('검색할 이름1 : ')
name2 = input('검색할 이름2 : ')
names = (name1, name2)
cursor.execute("SELECT * FROM MEMBER WHERE NAME IN (?, ?)", names)
cursor.fetchall()  # 튜플 리스트

검색할 이름1 : 홍길동
검색할 이름2 : 신길동

[('홍길동', 20, 'h@h.com'), ('신길동', 25, 's@s.com')]

In [45]:
# 파라미터 사용하기 : named 방법 이용
name = input('검색할 이름은 > ')
cursor.execute("SELECT * FROM MEMBER WHERE NAME = :name", {'name' : name})
members = cursor.fetchall()
if len(members):  # len(members) == 1
    print(members)
else:  # len(members) == 0
    print('해당 이름의 데이터가 없습니다.', members)

검색할 이름은 > 홍홍홍
해당 이름의 데이터가 없습니다. []

In [51]:
# 파라미터 사용하기 : named 방법 이용
name1 = input('검색할 이름1 : ')
name2 = input('검색할 이름2 : ')
names = {'name1' : name1, 'name2' : name2}
# cursor.execute("SELECT * FROM MEMBER WHERE NAME IN (:name1, :name2)", {'name1' : name1, 'name2' : name2})
cursor.execute("SELECT * FROM MEMBER WHERE NAME IN (:name1, :name2)", names)
cursor.fetchall()  # 튜플 리스트

검색할 이름1 : 홍길동
검색할 이름2 : 신길동

[('홍길동', 20, 'h@h.com'), ('신길동', 25, 's@s.com')]

In [53]:
# close() 이후
conn = sqlite3.connect('data/ch10_example.db')
cursor = conn.cursor()

In [67]:
# class 객체 생성
class Member:
    'Member 테이블의 내용을 받을 객체 타입'
    def __init__(self, name, age, email):
        self.name = name
        self.age = age
        self.email = email
    def as_dic(self):  # insert문 전송 시 필요
        return {'name' : self.name,
                'age' : self.age,
                'email' : self.email}
    def __str__(self):
        return "{}\t{}\t{}".format(self.name, self.age, self.email)
def to_member(*row):  # 튜플 데이터를 매개변수로 받아 Member형 객체로 return
    return Member(row[0], row[1], row[2])

In [58]:
# MEMBER 테이블에 입력(사용자로부터 이름, 나이, 메일을 입력받아 insert)
try:
    name = input('입력할 이름은 : ')
    age = int(input('입력할 나이는 : '))
except ValueError:
    print('유효하지 않은 나이를 입력하신 경우 18세로 초기화')
    age = 18
finally:
    email = input('입력할 메일은 : ')
inputdata = {'name' : name, 'age' : age, 'email' : email}  # named 방법 이용 시
inputdata2 = (name, age, email)  # qmark 방법 이용 시
# cursor.execute("INSERT INTO MEMBER VALUES (?, ?, ?)", inputdata2)  # qmark 방법 이용 시
cursor.execute("INSERT INTO MEMBER VALUES (:name, :age, :email)", inputdata)  # named 방법 이용 시
conn.commit()
if cursor.rowcount == 1:  # 1행 삽입되었을 때
    print('저장완료')
# print('저장완료' if cursor.rowcount = 1 else '저장실패')

입력할 이름은 : 김세동
입력할 나이는 : 33
입력할 메일은 : k@k.com
저장완료

In [59]:
cursor.execute('SELECT * FROM MEMBER')
cursor.fetchall()

[('홍길동', 20, 'h@h.com'),
 ('신길동', 25, 's@s.com'),
 ('신림동', 30, 'l@h.com'),
 ('홍홍홍', 18, 'h@h.com'),
 ('김세동', 33, 'k@k.com')]

In [65]:
# MEMBER 테이블에 입력(사용자로부터 이름, 나이, 메일을 입력받아 insert)
try:
    name = input('입력할 이름은 : ')
    age = int(input('입력할 나이는 : '))
except ValueError:
    print('유효하지 않은 나이를 입력하신 경우 18세로 초기화')
    age = 18
finally:
    email = input('입력할 메일은 : ')
    
newMember = Member(name, age, email)
# print(newMember.as_dic())
cursor.execute('INSERT INTO MEMBER VALUES (:name, :age, :email)', newMember.as_dic())  # as_dic() 딕셔너리 변환
conn.commit()
if cursor.rowcount == 1:
    print('입력 성공')

입력할 이름은 : 김수한
입력할 나이는 : 12
입력할 메일은 : k@a.com
{'name': '김수한', 'age': 12, 'email': 'k@a.com'}
입력 성공

In [72]:
# member 테이블에 데이터를 n번 입력하고
# 이름에 0을 입력할 때까지 이름, 나이, 메일을 받아 insert
# 이름에 0을 입력하면 이때까지 입력한 데이터들을 출력하고 몇 명을 입력했는지도 출력

member_list = []  # insert할 때마다 저장할 변수(입력한 member들이 저장될 list 변수:딕셔너리 리스트)
while True:  # n번 동안 입력받기 위해
    try:
        name = input('입력할 이름은(단, 종료는 0) : ')
        if name == '0':
            break
        age = int(input('입력할 나이는 : '))
        email = input('입력할 메일은 : ')
    except ValueError:
        print('유효하지 않은 나이를 입력할 경우 18세로 초기화')
        age = 18
        email = input('입력할 메일은 : ')
    newMember = {'name' : name, 'age' : age, 'email' : email}
    member_list.append(newMember)
    cursor.execute('INSERT INTO MEMBER VALUES (:name, :age, :email)', newMember)
# name에 0을 입력받고 while 탈출
conn.commit()
print('입력된 데이터는 ', len(member_list), '명입니다', sep='')
for member in member_list:
    print('{}\t{}\t{}'.format(member['name'], member['age'], member['email']))

입력할 이름은(단, 종료는 0) : 오시윤
입력할 나이는 : 10
입력할 메일은 : o@s.com
입력할 이름은(단, 종료는 0) : 김호현
입력할 나이는 : 20
입력할 메일은 : h@k.com
입력할 이름은(단, 종료는 0) : 0
입력된 데이터는 2명입니다
오시윤	10	o@s.com
김호현	20	h@k.com

In [75]:
member_list = []  # insert할 때마다 저장할 변수(입력한 member들이 저장될 list 변수:객체 리스트)
while True:  # n번 동안 입력받기 위해
    try:
        name = input('입력할 이름은(단, 종료는 0) : ')
        if name == '0':
            break
        age = int(input('입력할 나이는 : '))
        email = input('입력할 메일은 : ')
    except ValueError:
        print('유효하지 않은 나이를 입력할 경우 18세로 초기화')
        age = 18
        email = input('입력할 메일은 : ')
    newMember = Member(name, age, email)
    member_list.append(newMember)
    cursor.execute('INSERT INTO MEMBER VALUES (:name, :age, :email)', newMember.as_dic())
# name에 0을 입력받고 while 탈출
conn.commit()
print('입력한 자료는 다음과 같이 {}명입니다'.format(len(member_list)))
print('이름\t나이\t메일')
for member in member_list:
    print(member)  # class Member의 __str__

입력할 이름은(단, 종료는 0) : 이르음
입력할 나이는 : 33
입력할 메일은 : k@l.com
입력할 이름은(단, 종료는 0) : 핸드폰
입력할 나이는 : 22
입력할 메일은 : h@hh.com
입력할 이름은(단, 종료는 0) : 0
입력한 자료는 다음과 같이 2명입니다
이름	나이	메일
이르음	33	k@l.com
핸드폰	22	h@hh.com

In [76]:
# 입력확인은 DB browser나 python으로
cursor.execute('SELECT * FROM MEMBER')
cursor.fetchall()

[('홍길동', 20, 'h@h.com'),
 ('신길동', 25, 's@s.com'),
 ('신림동', 30, 'l@h.com'),
 ('홍홍홍', 18, 'h@h.com'),
 ('김세동', 33, 'k@k.com'),
 ('김수한', 12, 'k@a.com'),
 ('가가가', 10, 'k@kkk.com'),
 ('나나나', 20, 'n@nn.com'),
 ('0', 0, '0'),
 ('가나다', 10, 'k@nd.com'),
 ('다나가', 20, 'd@nk.com'),
 ('가나다', 10, 'k@n.com'),
 ('다나라', 20, 'd@n.com'),
 ('김형진', 30, 'khy@com'),
 ('이현주', 24, 'l@hj.com'),
 ('오시윤', 10, 'o@s.com'),
 ('김호현', 20, 'h@k.com'),
 ('홍길동', 22, 'h@h.com'),
 ('이르음', 33, 'k@l.com'),
 ('핸드폰', 22, 'h@hh.com')]

In [77]:
cursor.close()
conn.close()

# 2절. 오라클 데이터 베이스 연결
 - [cx_Oracle](https://cx-oracle.readthedocs.io/en/latest/) 사용

In [78]:
import cx_Oracle

In [80]:
# conn 얻어오는 방법1
oracle_dsn = cx_Oracle.makedsn(host='localhost', port='1521', sid='xe')
print(oracle_dsn)
conn = cx_Oracle.connect('scott', 'tiger', dsn=oracle_dsn)
conn
# 여기서 예외 발생 시 VC_redist.x64.exe를 검색 후 다운로드

(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=xe)))

In [81]:
conn.close()

In [82]:
# conn 얻어오는 방법2
conn = cx_Oracle.connect('scott', 'tiger', 'localhost:1521/xe')
conn

In [83]:
# cursor 객체 생성
cursor = conn.cursor()
sql = 'SELECT * FROM EMP'
cursor.execute(sql)
emp = cursor.fetchall()

In [84]:
for e in emp:  # 튜플 리스트라 field가 많을 경우 가독성이 다소 떨어짐
    print(e)

(7369, 'SMITH', 'CLERK', 7902, datetime.datetime(1980, 12, 17, 0, 0), 800.0, None, 20)
(7499, 'ALLEN', 'SALESMAN', 7698, datetime.datetime(1981, 2, 20, 0, 0), 1600.0, 300.0, 30)
(7521, 'WARD', 'SALESMAN', 7698, datetime.datetime(1981, 2, 22, 0, 0), 1250.0, 500.0, 30)
(7566, 'JONES', 'MANAGER', 7839, datetime.datetime(1981, 4, 2, 0, 0), 2975.0, None, 20)
(7654, 'MARTIN', 'SALESMAN', 7698, datetime.datetime(1981, 9, 28, 0, 0), 1250.0, 1400.0, 30)
(7698, 'BLAKE', 'MANAGER', 7839, datetime.datetime(1981, 5, 1, 0, 0), 2850.0, None, 30)
(7782, 'CLARK', 'MANAGER', 7839, datetime.datetime(1981, 6, 9, 0, 0), 2450.0, None, 10)
(7788, 'SCOTT', 'ANALYST', 7566, datetime.datetime(1982, 12, 9, 0, 0), 3000.0, None, 20)
(7839, 'KING', 'PRESIDENT', None, datetime.datetime(1981, 11, 17, 0, 0), 5000.0, None, 10)
(7844, 'TURNER', 'SALESMAN', 7698, datetime.datetime(1981, 9, 8, 0, 0), 1500.0, 0.0, 30)
(7876, 'ADAMS', 'CLERK', 7788, datetime.datetime(1983, 1, 12, 0, 0), 1100.0, None, 20)
(7900, 'JAMES', 'CLERK', 7698, datetime.datetime(1981, 12, 3, 0, 0), 950.0, None, 30)
(7902, 'FORD', 'ANALYST', 7566, datetime.datetime(1981, 12, 3, 0, 0), 3000.0, None, 20)
(7934, 'MILLER', 'CLERK', 7782, datetime.datetime(1982, 1, 23, 0, 0), 1300.0, None, 10)

In [93]:
import pandas as pd
emp_df = pd.DataFrame(emp)
emp_df.head(5)
# 행과 열의 숫자를 헤더로 변경하기

      0       1         2       3          4       5       6   7
0  7369   SMITH     CLERK  7902.0 1980-12-17   800.0     NaN  20
1  7499   ALLEN  SALESMAN  7698.0 1981-02-20  1600.0   300.0  30
2  7521    WARD  SALESMAN  7698.0 1981-02-22  1250.0   500.0  30
3  7566   JONES   MANAGER  7839.0 1981-04-02  2975.0     NaN  20
4  7654  MARTIN  SALESMAN  7698.0 1981-09-28  1250.0  1400.0  30

In [87]:
# select문 수행한 각 필드 정보
cursor.description  # 튜플리스트

[('EMPNO', <cx_Oracle.DbType DB_TYPE_NUMBER>, 5, None, 4, 0, 0),
 ('ENAME', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 10, 10, None, None, 1),
 ('JOB', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 9, 9, None, None, 1),
 ('MGR', <cx_Oracle.DbType DB_TYPE_NUMBER>, 5, None, 4, 0, 1),
 ('HIREDATE', <cx_Oracle.DbType DB_TYPE_DATE>, 23, None, None, None, 1),
 ('SAL', <cx_Oracle.DbType DB_TYPE_NUMBER>, 11, None, 7, 2, 1),
 ('COMM', <cx_Oracle.DbType DB_TYPE_NUMBER>, 11, None, 7, 2, 1),
 ('DEPTNO', <cx_Oracle.DbType DB_TYPE_NUMBER>, 3, None, 2, 0, 1)]

In [88]:
result = []
for description in cursor.description:
    result.append(description[0])  # description[0].lower() : 소문자
result

['EMPNO', 'ENAME', 'JOB', 'MGR', 'HIREDATE', 'SAL', 'COMM', 'DEPTNO']

In [89]:
# 리스트 컴프리헨션
[row[0] for row in cursor.description]

['EMPNO', 'ENAME', 'JOB', 'MGR', 'HIREDATE', 'SAL', 'COMM', 'DEPTNO']

In [94]:
emp_df.columns

RangeIndex(start=0, stop=8, step=1)

In [95]:
emp_df.columns = [row[0] for row in cursor.description]  # column이름이 대체됨
emp_df  # .head():처음부터 (), tail():끝부터 (), sampel():임의의 한 줄 출력

    EMPNO   ENAME        JOB     MGR   HIREDATE     SAL    COMM  DEPTNO
0    7369   SMITH      CLERK  7902.0 1980-12-17   800.0     NaN      20
1    7499   ALLEN   SALESMAN  7698.0 1981-02-20  1600.0   300.0      30
2    7521    WARD   SALESMAN  7698.0 1981-02-22  1250.0   500.0      30
3    7566   JONES    MANAGER  7839.0 1981-04-02  2975.0     NaN      20
4    7654  MARTIN   SALESMAN  7698.0 1981-09-28  1250.0  1400.0      30
5    7698   BLAKE    MANAGER  7839.0 1981-05-01  2850.0     NaN      30
6    7782   CLARK    MANAGER  7839.0 1981-06-09  2450.0     NaN      10
7    7788   SCOTT    ANALYST  7566.0 1982-12-09  3000.0     NaN      20
8    7839    KING  PRESIDENT     NaN 1981-11-17  5000.0     NaN      10
9    7844  TURNER   SALESMAN  7698.0 1981-09-08  1500.0     0.0      30
10   7876   ADAMS      CLERK  7788.0 1983-01-12  1100.0     NaN      20
11   7900   JAMES      CLERK  7698.0 1981-12-03   950.0     NaN      30
12   7902    FORD    ANALYST  7566.0 1981-12-03  3000.0     NaN      20
13   7934  MILLER      CLERK  7782.0 1982-01-23  1300.0     NaN      10

In [97]:
# 검색할 이름을 사용자에게 받아 해당 내용을 출력
ename = input('검색할 이름은 : ')
sql = "SELECT * FROM EMP WHERE ENAME = UPPER(:ename)"
cursor.execute(sql, {'ename' : ename})
emp = cursor.fetchall()
if len(emp):  # if len(emp) == 0
    for e in emp:
        print(e)
else:  # : 0이면 False,
    print('입력하신 이름의 데이터가 존재하지 않습니다.')

검색할 이름은 : scott
(7788, 'SCOTT', 'ANALYST', 7566, datetime.datetime(1982, 12, 9, 0, 0), 3000.0, None, 20)

In [98]:
print(e)

(7788, 'SCOTT', 'ANALYST', 7566, datetime.datetime(1982, 12, 9, 0, 0), 3000.0, None, 20)

In [99]:
fieldnames = [description[0] for description in cursor.description]
print(fieldnames)
print(e)

['EMPNO', 'ENAME', 'JOB', 'MGR', 'HIREDATE', 'SAL', 'COMM', 'DEPTNO']
(7788, 'SCOTT', 'ANALYST', 7566, datetime.datetime(1982, 12, 9, 0, 0), 3000.0, None, 20)

In [100]:
for idx in range(len(e)):
    print('{}:{}'.format(fieldnames[idx], e[idx]))

EMPNO:7788
ENAME:SCOTT
JOB:ANALYST
MGR:7566
HIREDATE:1982-12-09 00:00:00
SAL:3000.0
COMM:None
DEPTNO:20

In [101]:
# COMM:None -> COMM:
for idx in range(len(e)):
    print('{}:{}'.format(fieldnames[idx], e[idx] if e[idx] is not None else ''))

EMPNO:7788
ENAME:SCOTT
JOB:ANALYST
MGR:7566
HIREDATE:1982-12-09 00:00:00
SAL:3000.0
COMM:
DEPTNO:20

In [102]:
list(zip(fieldnames, e))  # zip() 안의 인덱스가 같이 들어옴 / zip() 안에는 몇 개가 들어와도 무방

[('EMPNO', 7788),
 ('ENAME', 'SCOTT'),
 ('JOB', 'ANALYST'),
 ('MGR', 7566),
 ('HIREDATE', datetime.datetime(1982, 12, 9, 0, 0)),
 ('SAL', 3000.0),
 ('COMM', None),
 ('DEPTNO', 20)]

In [106]:
for fieldname, data in zip(fieldnames, e):
    print('{}:{}'.format(fieldname, data if data is not None else '-'))

EMPNO:7788
ENAME:SCOTT
JOB:ANALYST
MGR:7566
HIREDATE:1982-12-09 00:00:00
SAL:3000.0
COMM:-
DEPTNO:20

In [118]:
cursor.close()
conn.close()

# 3절. 연습문제

In [84]:
import sqlite3
conn = sqlite3.connect('data/ch10_data.db')
cursor = conn.cursor()

## CREATE TABLE "member" 생성

## Member class 생성

In [85]:
class Member:
    def __init__(self, name, phone, email, age, grade, etc):
        self.name = name
        self.phone = phone
        self.email = email
        self.age = age
        self.grade = grade
        self.etc = etc
    def __str__(self):
        return '{:3}\t{:15}\t{:15}\t{:3}\t{:>5}\t{}'.format(
                                    self.name, self.phone, self.email, self.age, '*'*self.grade, self.etc)
    def as_dict(self):
        return {'name' : self.name,
                'phone' : self.phone,
                'email' : self.email,
                'age' : self.age,
                'grade' : self.grade,
                'etc' : self.etc}
    def to_member(*row):  # 튜플 데이터를 매개변수로 받아 Member형 객체로 반환
        return Member(row[0], row[1], row[2], row[3], row[4], row[5])

In [86]:
# Member class test
m = Member('홍길동', '010-9999-9999', 'h@h.com', 20, 3, '학생')
m1 = Member('김길동', '010-8888-8888', 'k@k.com', 30, 5, '직장인')
print(m)
print(m1)

홍길동	010-9999-9999  	h@h.com        	 20	  ***	학생
김길동	010-8888-8888  	k@k.com        	 30	*****	직장인

## 1. 입력

In [89]:
def insert_member():
    cursor = conn.cursor()
    name = input('이름을 입력하세요 : ')
    phone = input('번호를 입력하세요 : ')
    email = input('메일을 입력하세요 : ')
    try:
        age = int(input('나이를 입력하세요 : '))
        if age < 0:
            age = 0
    except ValueError:
        print('유효하지 않은 나이를 입력해 18세로 초기화')
        age = 18
    try:
        grade = int(input('등급을 입력하세요(1~5) : '))
        if grade < 1:
            grade = 1
        if grade > 5:
            grade = 5
    except ValueError:
        print('유효하지 않은 등급을 입력해 1등급으로 초기화')
        grade = 1
    etc = input('기타사항을 입력하세요 : ')
    member = Member(name, phone, email, age, grade, etc)
    cursor.execute('INSERT INTO MEMBER VALUES (:name, :phone, :email, :age, :grade, :etc)', member.as_dict())
    conn.commit()
    if cursor.rowcount == 1:
        print('{}님 입력 성공'.format(member.name))
    cursor.close()

In [90]:
# insert_member() test
insert_member()

이름을 입력하세요 : 홍길동
번호를 입력하세요 : 010-9999-9999
메일을 입력하세요 : h@h.com
나이를 입력하세요 : 20
등급을 입력하세요(1~5) : 5
기타사항을 입력하세요 : 없음
홍길동님 입력 성공

## 2. 전체 출력

In [91]:
def select_all():
    cursor = conn.cursor()
    sql = 'SELECT * FROM MEMBER'
    cursor.execute(sql)
    member = cursor.fetchall()
    for m in member:
        print(m)
    conn.commit()
    cursor.close()

In [92]:
# select_all() test
select_all()

('김길동', '010-8888-8888', 'k@k.com', 15, 2, '해당사항 없음')
('신길동', '010-7777-7777', 's@s.com', 35, 3, '신림 거주')
('이길동', '010-6666-6666', 'l@l.com', 30, 1, '없음')
('홍길동', '010-9999-9999', 'h@h.com', 20, 5, '없음')

## 3. 이름 검색

In [93]:
def select_name():
    cursor = conn.cursor()
    name = input('검색할 이름을 입력하세요 : ')
    cursor.execute('SELECT * FROM MEMBER WHERE NAME = :name', {'name' : name})
    input_name = cursor.fetchall()
    if len(input_name):
        print(input_name)
    else:
        print('해당 이름의 데이터가 없습니다.', input_name)
    conn.commit()
    cursor.close()

In [94]:
# select_name() test
select_name()

검색할 이름을 입력하세요 : 홍길동
[('홍길동', '010-9999-9999', 'h@h.com', 20, 5, '없음')]

## 4. 메일 삭제

In [95]:
def delete_email():
    cursor = conn.cursor()
    email = input('삭제할 메일을 입력하세요 : ')
    deleted_flag = False
    cursor.execute('DELETE FROM MEMBER WHERE EMAIL = :email', {'email' : email})
    input_email = cursor.fetchall()
    for idx, member in enumerate(input_email):
        if member.email == email:
            input_email.remove(member)
            break
    if cursor.rowcount == 1:
        print('{} 메일을 삭제하였습니다.'.format(input_email))
    else:
        print('{} 해당 메일의 데이터가 없습니다.'.format(input_email))
    conn.commit()
    cursor.close()

In [96]:
# delete_email() test
delete_email()

삭제할 메일을 입력하세요 : h@h.com
[] 메일을 삭제하였습니다.

## 5. CSV 내보내기

In [28]:
def save_csv():
    import csv
    member_dict_list = []
    for member in member_dict_list:
        member_dict_list.append(member.as_dict())
    fieldname = list(member_dict_list[0].__dict__.keys())
    filename = input('저장할 CSV 파일 이름을 입력하세요 : ')
    try:
        with open('data/'+filename, 'w', newline='', encoding='utf-8') as f:
            dict_writer = csv.DictWriter(f, fieldnames=fieldnames)
            dict_writer.writeheader()
            dict_writer.writerows(customer_dict_list)
    except Exception as e:
        print('데이터 내보내기 예외 :', e)

In [29]:
# save_csv() test
save_csv()

IndexError: list index out of range

## 0. 종료

In [ ]:
def close_sql():
    pass

## main()

In [82]:
def main():
    while True:
        print("1.입력", "2.전체 조회", "3.이름 찾기", "4.메일 삭제", "5.CSV 내보내기", "0.종료", sep=" | ")
        try:
            menu = int(input("메뉴 선택: "))
        except:
            print("유효하지 않은 값을 입력하였습니다. 다시 선택해주세요.")
        if menu == 1:
            insert_member()
        elif menu == 2:
            select_all()
        elif menu == 3:
            select_name()
        elif menu == 4:
            delete_email()
        elif menu == 5:
            save_csv()
        elif menu == 0:
            close_sql()
            break

In [97]:
if __name__=='__main__':
    import sqlite3
    global conn
    conn = sqlite3.connect('data/ch10_data.db')
    main()

1.입력 | 2.전체 조회 | 3.이름 찾기 | 4.메일 삭제 | 5.CSV 내보내기 | 0.종료
메뉴 선택: 1
이름을 입력하세요 : 홍길동
번호를 입력하세요 : 010-9999-8888
메일을 입력하세요 : h@hh.com
나이를 입력하세요 : 22
등급을 입력하세요(1~5) : 5
기타사항을 입력하세요 : 없음
홍길동님 입력 성공
1.입력 | 2.전체 조회 | 3.이름 찾기 | 4.메일 삭제 | 5.CSV 내보내기 | 0.종료
메뉴 선택: 0

NameError: name 'close_sql' is not defined

In [99]:
conn.close()